/* COLORS */
/* #1D1F18 */
/* #FFEA55 */
/* #97958B */
/*  */
/*  */


/*--------------------------*/
/* BASIC SETUP */
/*--------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#fff;
    color: #1D1F18 ;
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}


/*--------------------------*/
/* REUSABLE ELEMENTS */
/*--------------------------*/

.row{
    max-width: 1000px;
    margin: 0 auto;
}

section{
    height: 650px;
    position: relative;
}

/*--------------------------*/
/* HEADINGS */
/*--------------------------*/

h1{
    color: #1D1F18;
    margin:0;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    letter-spacing: 2px;
}

h3{
    color: #97958B;
    font-weight: 700 ;
    font-family: 'Josefin Slab', serif;
    font-size: 180%;
    letter-spacing: 1px;

}



/*--------------------------*/
/* HEADER */
/*--------------------------*/

header{
    background-color: #FFEA55 ;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.main-nav{
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 50px;
    transform: translateY(-50%)
}

.main-nav li{
    display: inline-block;
}

.main-nav a:link, .main-nav a:visited ,
.main-nav a:active{
    color: #97958B;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    float: right;
    padding-right: 30px;
    transition: color .8s;
}
.main-nav  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.main-nav  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


.main-nav a:hover{
    color: #1D1F18;
}

.logo{
    height: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}

.hero{
    background-color: #FFEA55;
}

.hero h1{
    letter-spacing: 2px;
    font-size: 300%;
    text-align: center;
}

.hero h1 span:nth-child(1){
    color: white;
    font-weight: 900;
    background-color:#97958B; 
}

.hero h1 span:nth-child(2){
    color: #97958B;
    font-weight: 900;
}

.hero h3{
    font-size:90%;
}

.hero .hero-wraper{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.hero-wraper p{
    text-align: center;
    letter-spacing: 0px;
    font-size: 120%;
    font-weight: 200;
}



/*--------------------------*/
/* HEADER */
/*--------------------------*/

section.separator{
    max-height: 40px;
}
.separator{
    background-color: white;
}

.separator .row{
    display: flex;
    max-width: 100%;
}

.separator .row div{
    flex-grow: 1;
    flex-direction: row;
    height: 10px;
}

.separator .row:nth-child(1) div:nth-child(1){
    flex-grow: 1;
    flex-direction: row;
    height: 40px;
    background:
        linear-gradient(45deg, #97958b 45px, transparent 45px)64px 64px,
        linear-gradient(45deg, #97958B 45px, transparent 45px,transparent 91px, #fff 91px, #fff 135px, transparent 135px),
        linear-gradient(-45deg, #FFEA55 23px, transparent 23px, transparent 68px,#FFEA55 68px,#FFEA55 113px,transparent 113px,transparent 158px,#FFEA55 158px);
        background-color:#fff;
        background-size: 128px 128px;
}

/*--------------------------*/
/* ABOUT */
/*--------------------------*/



.about .row { 
    height: 650px;
    display: flex;
    flex-direction: row;
}



.portrait{
    flex-grow: 1;
    
}

.portrait img{
    width:100px;
    float: left;
}

.portrait span{
    color:#97958B;
    font-size: 110%;
}

.portrait p{
    width: 500px;
    text-align: left;
}

.wraper{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.skillset{
    flex-grow: 1;
    text-align: right;
}

.skillset .wraper ul {
    
}

.skillset .wraper li {
    display: inline-block;
}

.skillset .wraper li img{
    width: 40px;
}

/*--------------------------*/
/* DOING */
/*--------------------------*/

.doing{
    background-color: #fff;
}

.doing .row{
    display: flex;
    flex-direction: row;
    height: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.doing .skill{
    flex-grow: 1;
    background-color: #FFEA55;
    height: 450px;
    width: 400px;
    text-align: center;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.li-logo{
    width: 20px;
    transform: translateY(30%)
}

.skill ul{
    list-style: none;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);

}

.skill h1{
    margin-top: 20px;
}
.skill ul li{
    text-align: left;
    color: #1D1F18;
    margin-top: 10px;
    font-weight: 200;
}


/*--------------------------*/
/* FOOTER */
/*--------------------------*/

footer{
    height: 150px;
    background-color: #97958b;
}

footer ul {
    overflow: auto;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%)
}

footer .row{
    position: relative;
    top:50%;
    transform: translateY(-50%)

}

footer ul li {
	list-style-type: none;
    float: left;
    margin-left: 40px;
}

footer ul li a i {
	background: #FFEA55;
	color: #1D1F18;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}



